@model InfoMallWeb.Models.PromotionCustomer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PromotionCustomer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.PromotionCustomerId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PromotionCustomerId" />
            <div class="form-group">
                <label class="control-label">Promotion Name: @Model.Promotion.PromotionName</label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasPaid" /> @Html.DisplayNameFor(model => model.HasPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedStartDate" class="control-label"></label>
                <input asp-for="ExpectedStartDate" class="form-control" />
                <span asp-validation-for="ExpectedStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedEndDate" class="control-label"></label>
                <input asp-for="ExpectedEndDate" class="form-control" />
                <span asp-validation-for="ExpectedEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualStartDate" class="control-label"></label>
                <input asp-for="ActualStartDate" class="form-control" />
                <span asp-validation-for="ActualStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionDetail" class="control-label"></label>
                <input asp-for="PromotionDetail" class="form-control" />
                <span asp-validation-for="PromotionDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualEndDate" class="control-label"></label>
                <input asp-for="ActualEndDate" class="form-control" />
                <span asp-validation-for="ActualEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <input asp-for="PaymentType" class="form-control" />
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">User Email: @Model.Customer.User.Email</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
