@model InfoMallWeb.Dtos.PromotionInformationDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PromotionInformationDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PromotionInformationId"/>
            <input type="hidden" asp-for="OldImage"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionInformationContent" class="control-label"></label>
                <textarea asp-for="PromotionInformationContent" class="form-control"></textarea>
                <span asp-validation-for="PromotionInformationContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label">Change existing image</label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionId" class="control-label">Category Name</label>
                <select asp-for="PromotionId" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="PromotionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
