/* DEFAULT STYLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {font-family: 'Avenir light';}

/************************************************************ end DEFAULT STYLE */

/************************************************************ HEADER STYLE *
 header {
    height: 210px;
    background-image: url("images/blog_h.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header .overlay {
    position: absolute;
    height: 210px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(11, 0, 0, 0.62);
} 
nav {
    height: 65px;
    border-bottom: .5px solid #909090;
    line-height: 51px;
    position: fixed;
    /* background-color: transparent; *
    display: block;
    width: 100%;
    z-index: 2;
}
nav #nav-brand {
    display: inline;
    padding-left: 150px;
}
nav .menu-bar, nav .close-bar {display: none;}
nav #nav-brand img {width: 78px; margin-top: 4px;}
nav .nav-menu {float: right; padding-right: 150px;}
nav .nav-menu a {
    padding: 6px 12px;
    margin: 4px;
    font-size: 13px;
    color: white;
    text-decoration: none;
}
nav .nav-menu a#start-a-project {background-color: #D82819; font-size: 12px;}


header #header-heading {text-align: center;}
header #header-heading h1 {
    color: white;
    font-family: 'Playfair Display';
    line-height: 250px;
}*/

/* media queries *
@media screen and (max-width: 1000px){
    header {height: 310px; background-image: url("images/blog_header.jpg");}
    header .overlay {height: 310px;}
    nav .nav-menu {display: none;}
    nav #nav-brand {padding-left: 50px;}
    nav .menu-bar, nav .menu-bar {display: block;}
    nav .menu-bar {
        display: block;
        position: fixed;
        right: 30px;
        top: 9px;
        cursor: pointer;
    }
    nav .menu-bar #bar1,
    nav .menu-bar #bar2,
    nav .menu-bar #bar3 {
        display: block;
        height: 2px;
        width: 25px;
        margin: 7px;
        background-color: white;
        clear: right;
    }
    nav .menu-bar #bar2 {
        width: 12.5px;
        float: right;
        margin-top: 0;
    }

    header #header-heading h1 {line-height: 360px; font-size: 32px;}
}*/
/* end media queries */
/*********************************************************** end HEADER STYLE  */



/************************************************************ MAIN */
main {padding: 25px 180px;}
main .top_property {
    font-family: 'Avenir light';
    font-size: 15px;
    margin-bottom: 25px;
}
main .top_property p {
    display: inline;
    font-size: 18px;
    padding: 5px 10px;
}
main .top_property select {
    float: right;
    background-color: rgba(12, 8, 16, 0.64);
    color: white;
    padding: 5px 10px;
    box-sizing: content-box;
    margin-right: 10px /* correction */
}
main .top_property select option {
    background-color: white;
    color: rgba(12, 8, 16, 0.64);
    border: none;
    outline: none;
}
main .top_property select option {padding-bottom: 40px;}
main .top_property select option a:hover {background-color: #D82819 !important;}

/* blog */
main .blog_container {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    outline: 1px solid rgba(112, 112, 112, 0.2);
    font-family: 'Playfair Display';
}
main .blog_container .badge {
    display: inline;
    position: absolute;
    right: 28px;
    top: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #D82819;
    font-family: 'Avenir light';
    color: white;
    font-size: 10px;
}
main .blog_container .blog-details {padding: 21px 31px; color: black;}
    main .blog_container .blog-details h1 {
        font-size: 25px;
        color: black;
    }
    main .blog_container .blog-details .ccv i {
        font-style: normal;
        font-size: 10px;
        margin: 0 10px 10px 0;
        color: black;
    }

/* screen queries */
@media screen and (max-width: 1228px){
    main .blog_container .blog-details {padding: 21px 21px;}
    main .blog_container .blog-details h1 {font-size: 22px;}
}
@media screen and (max-width: 1200px){main {padding: 25px 200px;}}
@media screen and (max-width: 1000px){main {padding: 25px 150px;}}
@media screen and (max-width: 900px){main {padding: 25px 130px;}}
@media screen and (max-width: 767px){main {padding: 25px 170px;}}
@media screen and (max-width: 720px){main {padding: 25px 120px;}}
@media screen and (max-width: 580px){main {padding: 25px 50px;}}

@media screen and (max-width: 440px){
    main {padding: 25px 30px;}
    main .top_property {
        margin-bottom: 15px;
        padding: 0 8px;
    }
    main .top_property select {
        float: none;
        display: block;
        width: 93%;
        padding: 12px;
        font-size: 18px;
        margin-right: 0px /* correction */
    }
    main .blog_container .blog-details {padding: 21px 31px;}
    main .blog_container .blog-details h1 {font-size: 29px;}
    main .top_property p {display: block; text-align: center;}
    main .blog_container .blog-details small {font-size: 16px;}
}

@media screen and (max-width: 400px){
    main .blog_container .blog-details h1 {font-size: 23px;}
    main .blog_container .blog-details small {font-size: 14px;}
}
/* end screen quries */

/* see more */
main #see_more {
    display: none;
    text-align: center;
    font-family: 'Playfair Display';
    margin-bottom: 15px;
}
main #see_more a {
    text-decoration: none;
    border: none;
    padding: 4px 17px;
    color: white;
    background-color: #4BC8FF;
    font-size: 12px;
}
@media screen and (max-width: 414px){main #see_more {display: block;}}
/* end see more */
/* end blog */
/************************************************************ end MAIN */


/************************************************************ BANNER */
.banner_container {
    height: 163px;
    background-color: #D92517;
    color: white;
    font-family: 'Playfair Display';
}
.banner_container h1 {
   font-size: 32px;
   line-height: 163px;
   text-align: center;
   padding: 0 5px;
   word-wrap: wrap;
}
/* scree queries */
@media screen and (max-width: 767px){
    .banner_container {height: 130px;}
    .banner_container h1 {
       font-size: 20px;
       line-height: 25px;
       padding: 0 60px;
       padding-top: 55px;
    }
}
@media screen and (max-width: 480px){section .banner_container {height: 150px;}}
/************************************************************ end BANNER */

/************************************************************ FOOTER *
footer {
    overflow-x: hidden;
    height: auto;
    background-color: #4E4E4E;
    padding: 0 180px;
    float: left;
    width: 100%;
    font-size: 15px;
}
footer #img_container img {width: 100px;}
footer a {
    color: white;
    display: block;
    text-decoration: none;
    margin: 2px;
}
footer a:hover {color: white; text-decoration: none;}
footer p {color: white;}
footer #subscribe {margin-left: -65px;}
footer #subscribe {margin-left: -35px;}

footer form input {
    width: 148%;
    border: 1px solid #A2A2A2;
    background-color: #4E4E4E;
    color: white;
    padding: 10px;
    outline: none;
    font-size: 11px;
    margin: 5px 0;
}
footer button {
    font-size: 13px;
    background-color: #52C9FE;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
}
footer #links_2 {margin-left: -80px;}

/* screen quries *
@media screen and (max-width: 1200px){
    footer #links_2 {margin-left: 0px;}
    footer #subscribe {margin-left: 0px;}
    footer #subscribe input {width: 205%;}
}
@media screen and (max-width: 1070px){
    footer {padding: 0 100px;}
    footer #subscribe {padding-left: 80px;}
}
@media screen and (max-width: 767px){
    footer {padding: 0 45px;}
    footer #img_container img {width: 120px;}
    footer a {padding: 3px 0;}

    footer #links_1,
    footer #links_2 {margin-top: 30px; font-size: 16px;}

    footer #links_2 {margin-left: 100px;}

    footer #links_1 a,
    footer #links_2 a {width: 100px;}

    footer #subscribe {padding-left: 15px;}
    footer #subscribe {margin-top: 50px;}
    footer #subscribe input {width: 100%;}
}*/
/* @media screen and (max-width: 440px){footer {padding: 0 30px;}} *


.footer_bottom {
    color: white; 
    padding: 15px 0;
    margin-top: 30px;
}
.footer_bottom span {
    font-size: 11px;
}
.footer_bottom .fa {
    font-size: 17px;
    margin: 0 5px;
}
@media screen and (max-width: 440px){.footer_bottom .fa {font-size: 16px; margin: 2px;}}
/************************************************************ end FOOTRER */














/* /////////////////////////////////////////////////POST SECTION STYLE FOR FOR POSTS PAGE */
section {padding-left: 170px; padding-right: 140px;}
/* screen quries */
@media screen and (max-width: 1329px){section {padding-left: 140px; padding-right: 100px;}}
@media screen and (max-width: 1260px){section {padding-left: 110px; padding-right: 80px;}}
@media screen and (max-width: 1200px){section {padding-left: 150px; padding-right: 150px;}}
@media screen and (max-width: 1100px){section {padding-left: 110px; padding-right: 110px;}}
@media screen and (max-width: 840px){section {padding-left: 70px; padding-right: 70px;}}
@media screen and (max-width: 629px){section {padding: 22px}}

/************************************************************ Left Columm */
/* ************************First Row */
section #first_row {padding: 28px 0;}
section #first_row img {
    border-radius: 100%;
    width: 88px;
    height: 88px;
    float: left;
    margin-right: 15px;
}
section #first_row .headings {margin: 10px 0; line-height: 22px;}
/* screen qurery */
@media screen and (max-width: 422px){section #first_row .headings {line-height: 15px;}}
/* // */
section #first_row .headings p {
    color: #D82819;
    display: inline;
    font-size: 15px;
}
section #first_row .headings h1 {
    font-family: 'Playfair Display';
    font-size: 20px;
    margin: 0;
}
section #first_row .headings small {
    font-size: 10px;
    margin: 0;
    color: #52C9FE;
}
/* scren query */
@media screen and (max-width: 629px){
    section #first_row {
        padding:  0;
        padding-top: 20px;
        height: 132px;
        text-align: center;
    }
    section #first_row img {
        width: 77px;
        height: 77px;
        float: none;
        margin-right: 0px;
    }
    section #first_row .headings p {font-size: 13px;}
    section #first_row .headings h1 {font-size: 17px;}
}
/* // */
/* ************************end First Row */

/* ************************Second Row */
section #second_row {margin-top: 53px;}
section #second_row .img_container {
    height: 330px;
    background-color: #D92517;
    margin-bottom: 60px;
}

section .img_article {font-size: 16.5px; line-height: 27px;}
/* ************************end Second Row */

/* ************************Third Row */
section #third_row {margin-top: 25px;}
section #third_row .img_container {
    height: 280px;
    background-color: #D92517;
    margin-bottom: 20px;
}
/* ************************Third Row */

/* ************************Fourth Row */
section #fourth_row {padding-top: 11px;}
section #fourth_row .img_container {
    height: 250px;
    background-color: #D92517;
    margin-bottom: 20px;
}
/* screen query */
@media screen and (max-width: 629px){
    section #second_row .img_container {
        height: 330px;
        background-color: #D92517;
        margin-bottom: 18px;
    }
    section .img_article {font-size: 15px; line-height: 24px;}
}
/* ************************end Fourth Row */

/* ************************ Social Links */
section #social_links {margin: 0; padding: 0;}
section #social_links .fa {
    padding: 7px 20px;
    color: white;
    margin: 0;
    display: inline;
}
/* screen query */
@media screen and (max-width: 629px){
    section #second_row .img_container {
        height: 330px;
        background-color: #D92517;
        margin-bottom: 18px;
    }
    section .img_article {font-size: 15px;line-height: 24px;}
    section #social_links {margin: 0 -30px; padding: 0;}
    section #social_links .fa {
        padding: 9px 0px;
        display: inline-block;
        width: 25%;
        text-align: center;
        font-size: 20px;
    }
}
/* // */
section #social_links .fa-facebook {background-color: #3B5998;}
section #social_links .fa-pinterest {background-color: #C8232C;}
section #social_links .fa-twitter {background-color: #1DA1F2;}
section #social_links .fa-thumbs-up {background-color: #EF951C;}
/* ************************ end Social Links */

/* ************************ After Social Links */
section #after_links {display: block;}
section #after_links img {
    border-radius: 100%;
    width: 57px;
    height: 57px;
    float: left;
    margin-right: 15px;
}
section #after_links .headings {margin: 10px 0; padding-top: 15px;}
section #after_links .headings p {display: inline; font-size: 14px;}
section #after_links .headings small {float: right;padding: 14px;}
section #after_links p.small {
    outline: 1px solid rgba(112, 112, 112, 0.3);
    padding: 14px;
    padding-bottom: 38px;
    font-size: 12.9px;
    margin-bottom: 8px;
}
section #after_links .lc {font-size: 12.9px;}
section #after_links .fa-heart {margin-right: 10px; margin-bottom: 20px;}

section .form p {font-size: 16.5px; line-height: 20px;}
section .form label {display: block; margin: 0;}

section .form input[type='text'],
section .form input[type='name'],
section .form input[type='email'] {
    display: block;
    border: 1.5px solid rgba(112, 112, 112, 0.2);
    width: 100%;
    margin: 0;
}
section .form input[name='comment'] {display: block; height: 130px;}
section .form label[for='comment']{margin-top: 35px;}
section .form input[type='checkbox']{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    transform: translateY(5px);
    border: 1px solid rgba(112, 112, 112, 0.2);
}
section .form p.small {margin: 15px 0; font-size: 14px;}
section .form button {
    outline: none;
    border: none;
    background-color: #52C9FE;
    color: white;
    padding:  8px 42px;
    font-size: 15px;
}
/* screen queries */
@media screen and (max-width: 629px){
    section #after_links img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    section #after_links .headings {
        margin: 5px 0;
        padding-top: 10px;
        line-height: 25px;
    }
    section #after_links .headings p {font-size: 12px;}
    section #after_links .headings small {padding: 2px;}
    section #after_links p.small {font-size: 12px;}
    section #after_links .lc {font-size: 12.9px;}
    section #after_links .fa-heart {margin-right: 10px; margin-bottom: 20px;}
    
    section .form p {font-size: 15px;}
    section .form label {font-size: 15px; margin: 0; margin-top: -10px;}

    section .form input[name='comment'] {height: 125px;}
    section .form label[for='comment']{
        margin-top: 25px;
    }
    section .form input[type='checkbox']{
        display: inline-block;
        width: 18px;
        height: 18px;
        transform: translateY(7px);
        margin-right: 13px;
        margin-left: 2px;
        opacity: 0.6;
        border: 1px solid rgba(112, 112, 112, 0.5);
    }
    section .form p.small {margin: 3px 0; font-size: 11px;}
    
    section .form button {
        padding:  5px 20px;
        padding-right: 25px;
        font-size: 11px;
    }
}
@media screen and (max-width: 414px){section p.head-intro {font-size: 14px;}}
@media screen and (max-width: 409px){
    section #after_links {text-align: center;}
    section #after_links img {
        width: 48px;
        height: 48px;
        float: none;
    }
    section #after_links .headings {
        line-height: 20px;
        display: block;
        text-align: center;
    }
    section #after_links .headings p,
    section #after_links .headings small {
        display: block;
        float: none;
        margin: 0;
        padding: 0; 
    }
}
/* ************************ end After Social Links */
/************************************************************ Left Columm */

/************************************************************ Right Columm */
section form {padding: 38px 0;}
section form input {
    padding: 11px 30px;
    font-size: 12px;
    border: 1.1px solid rgba(112, 112, 112, 0.4);
    border-right: none;
    outline: none;
    width: 81%;
}
section form button {
    border: none;
    outline: none;
    border-right: 1.1px solid rgba(112, 112, 112, 0.4);
    border-bottom: 1.1px solid rgba(112, 112, 112, 0.4);
    border-top: 1.1px solid rgba(112, 112, 112, 0.4);
    padding: 10px 30px;
    background-color: white;
}
section form .fa {
    font-size: 17px;
    padding: 9px 20px;
    padding-bottom: 14px;
    color: rgba(112, 112, 112, 0.6);
}
/* blog categories */
section #blog_categories {padding: 9.3px 0;}
/* media qurery */
@media screen and (max-width: 628px){section #blog_categories {padding-left: 20.8px; padding-right: 9px;}}
/* // */
section #blog_categories p {padding-top: 5px; margin-bottom: 14px;}
section #blog_categories .blog_links_cat a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #52C9FE;
    padding: 12px 20px;
    border: none;
    outline: none;
    transition: ease .7s;
}
section #blog_categories .blog_links_cat a:hover,
section #blog_categories .blog_links_cat a.active {
   background-color: #D92517;
}

/* popular posts */
section #popular_posts {margin-top: 48px; font-size: 12px;}
/* media queries */
@media screen and (max-width: 1200px){section #popular_posts {margin-top: 15px;}}
@media screen and (max-width: 628px){section #popular_posts {padding-left: 20.8px; padding-right: 9px;}}
/* // */
section #popular_posts p {color: #FF4141;margin-bottom: 0;}
section #popular_posts .popular_posts_post {display: block;height: 73px}
section #popular_posts .popular_posts_post
img {
    width: 100px;
    float: left;
    margin-right: 20px;
}
section #popular_posts .popular_posts_post .popular_posts_post_details {color: #4D4F5C;}
section #popular_posts .popular_posts_post .popular_posts_post_details p {color: #4D4F5C;}
section #popular_posts .popular_posts_post .popular_posts_post_details .fa {
    color: #4D4F5C;
    margin: 5px;
    margin-left: 0;
    font-size: 10px;
}

/* latest posts */
section #latest_posts {margin-top: 35px; font-size: 12px;}
section #latest p {color: #FF4141; margin-bottom: 0;}
section  .blog_container {
    position: relative;
    outline: 1px solid rgba(112, 112, 112, 0.2);
    margin-bottom: 12px;
}
/* screen queries */
@media screen and (max-width: 767px){section  .blog_container {max-width: 439px;}}
@media screen and (max-width: 628px){
    section #latest_posts,
    section  .blog_container {
        margin-left: 20.8px;
        margin-right: 9px;
        max-width: 439px;
    }
}
section  .blog_container .badge {
    position: absolute;
    display: inline;
    position: absolute;
    right: 15px;
    top: 13px;
    padding: 7px 9px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #D82819;
    font-family: 'Avenir light';
    color: white;
    font-size: 9px;
}
section  .blog-details {padding: 21px 25px; font-family: 'Playfair Display'; color: black !important}
section  .blog-details h1 {font-size: 24px;}
section  .blog-details small {font-size: 12px;}
section  .blog-details .ccv i {
    font-style: normal;
    font-size: 10px;
    margin: 0 10px 10px 0;
}
/************************************************************ end Right Columm */

/************************************************************ Navigation Arrow */
.navigation_arrow a {
    position: absolute;
    display: inline;
    background-color: #D82819;
    text-decoration: none;
    padding: 2px 0px;
    color: white;
    transform: translateY(-81vh);
    font-size: 18px;
}
.navigation_arrow a#next {
    right: 0;
    padding-right: 30px;
    padding-left: 15px;
}
.navigation_arrow a#previous {
    padding-left: 30px;
    padding-right: 15px;
}
@media screen and (max-width: 1200px){
    .navigation_arrow {display: none;}
}
/************************************************************ end Navigation Arrow */
/* ///////////////////////////////////////////////// End - POST SECTION STYLE FOR FOR POSTS PAGE */