@model InfoMallWeb.Models.CategoryForTab

@*<div class="full-width margin-top-100">
    @*<h1 class="text-center">Create and share beautiful valentine souvenir to love ones</h1>
    <div class="half-width mx-auto toolbar-color mt-4">
        <div class="full-width mb-2 toolbar">
            <div class="width-20 float-left mb-2">
                <button class="btn btn-success upload"><i class="fa fa-upload"></i> Upload image</button>
            </div>
            <div class="width-80 float-right mb-2">
                <button class="btn btn-success float-right ml-2 download"><i class="fa fa-download"></i> Download</button>
                <button class="btn btn-success float-right share"><i class="fa fa-share"></i> Share</button>
            </div>
        </div>
        <input class="full-width input-group-text mb-2" type="text" placeholder="Enter your love message (Five words maximum please)" />
        <canvas class="valentine-image" id="canvas" width="240" height="240"></canvas>
    </div>


    
    

</div>*@
<div class="fullpage">
    <div class="section">
        <div class="canvas-container" data-floorplan="http://placehold.it/500x200/448844/fff">
            <canvas width="240" height="240"></canvas>
        </div>
        <div class="furniture">
            <img draggable="true" src="http://placehold.it/50x50/848/fff">
        </div>
    </div>
</div>